body {
    text-align: center;
    margin: 0;
    background: beige;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#calculator{
    max-width: 360px;
    background-color: rgb(83, 83, 83);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19);
}

#display {
    width: 100%;
    height: 56px;
    font-size: 20px;
    text-align: right;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 5px;
    color: white;
    background-color: rgba(255, 255, 255, 0.3);
    border: none;
    box-sizing: border-box;
}

.operator {
    color: rgb(57, 255, 84);
}

#ac {
    color: rgb(255, 0, 0);
}

.equal {
    width: calc(50% - 10px);
}

button {
    width: calc(25% - 10px);
    height: 50px;
    font-size: 20px;
    margin: 10px 5px;
    border-radius: 5px;
    border: none;
    float: left;
    color: white;
    background-color: rgb(39, 39, 39);
}

button:hover {
    cursor: pointer;
}

button:active {
    transform: scale(1.05);
    box-shadow: 0 24px 4px 1px rgba(0, 0, 0, 0.19);
}