body {
    text-align: center;
    margin: 0;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#calculator {
    max-width: 320px;
    background-color: black;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    display: grid;
    grid-template-columns: repeat(4, 70px);
    gap: 15px;
}

#display {
    grid-column: span 4;
    height: 80px;
    font-size: 3rem;
    text-align: right;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    color: white;
    background-color: black;
    border: none;
    box-sizing: border-box;
}

button {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    font-size: 24px;
    border: none;
    background-color: #333;
    color: white;
    cursor: pointer;
    transition: all 0.2s ease;
}

button:hover {
    filter: brightness(1.2);
}

button:active {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.operator {
    background-color: #f1a33c;
    color: white;
}

#ac,
.function {
    background-color: #a5a5a5;
    color: black;
}

.zero {
    grid-column: span 2;
    width: 100%;
    border-radius: 40px;
    text-align: left;
    padding-left: 28px;
}
